.App {
  text-align: center;
  margin: auto;
  padding: 5px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .App {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .App {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .App {
    width: 70%;
  }
}
